//  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (max-width:576px) {

    /* -------------------------------main--------------------------- */
    main {
        width: 95%;
    }

    /* -------------------------------content--------------------------- */
    #content {

        /* ---------------home---------------- */
        #home {
            >header {
                min-height: 300px;

                >figure {
                    width: 85px;
                    height: 85px;

                    >img {
                        width: 45px;
                    }
                }

                >h2 {
                    font-size: 26px;
                }

                >p {
                    color: #ffffffa6;
                    width: 90%;
                }
            }

            >section {
                padding: 40px 20px;

                // >div {
                //      width: 49%;
                // }
            }

            >footer {
                padding-inline: 20px;
            }
        }
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:576px) {

    /* -------------------------------main--------------------------- */
    main {
        width: 95%;
    }

    /* -------------------------------content--------------------------- */
    #content {

        /* ---------------home---------------- */
        #home {
            >header {
                min-height: 300px;

                >figure {
                    width: 85px;
                    height: 85px;

                    >img {
                        width: 45px;
                    }
                }

                >h2 {
                    font-size: 26px;
                }

                >p {
                    color: #ffffffa6;
                    width: 90%;
                }
            }

            >section {
                padding: 40px 20px;

                // >div {
                //      width: 49%;
                // }
            }

            >footer {
                padding-inline: 20px;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:768px) {}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:992px) {

    /* -------------------------------main--------------------------- */
    main {
        width: 95%;
    }

    /* -------------------------------content--------------------------- */
    #content {

        /* ---------------home---------------- */
        #home {
            >header {
                min-height: 300px;

                >figure {
                    width: 100px;
                    height: 100px;

                    >img {
                        width: 55px;
                    }
                }

                >h2 {
                    font-size: 26px;
                }

                >p {
                    color: #ffffffa6;
                    width: 90%;
                }
            }

            >section {
                padding: 40px 20px;

                // >div {
                //      width: 49%;
                // }
            }

            >footer {
                padding-inline: 20px;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1200px) {

    /* -------------------------------main--------------------------- */
    main {
        width: 90%;
    }

    /* -------------------------------content--------------------------- */
    #content {

        /* ---------------home---------------- */
        #home {
            >header {
                min-height: 350px;

                >figure {
                    width: 130px;
                    height: 130px;

                    >img {
                        width: 70px;
                    }
                }

                >h2 {
                    font-size: 26px;
                }

                >p {
                    color: #ffffffa6;
                    width: 50%;
                }
            }

            >section {
                padding: 40px 50px;

                >div {
                    width: 49%;
                }
            }

            >footer {
                padding-inline: 50px;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1400px) {

    /* -------------------------------main--------------------------- */
    main {
        width: 85%;
    }

    /* -------------------------------content--------------------------- */
    #content {

        /* ---------------home---------------- */
        #home {
            >header {
                min-height: 350px;

                >figure {
                    width: 130px;
                    height: 130px;

                    >img {
                        width: 70px;
                    }
                }

                >h2 {
                    font-size: 32px;
                }

                >p {
                    color: #ffffffa6;
                    width: 40%;
                }
            }

            >section {
                padding: 40px 50px;

                >div {
                    width: 49%;
                }
            }

            >footer {
                padding-inline: 50px;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1600px) {

    /* -------------------------------main--------------------------- */
    main {
        width: 75%;
    }

    /* -------------------------------content--------------------------- */
    #content {

        /* ---------------home---------------- */
        #home {
            >header {
                min-height: 350px;

                >figure {
                    width: 130px;
                    height: 130px;

                    >img {
                        width: 70px;
                    }
                }

                >h2 {
                    font-size: 32px;
                }

                >p {
                    color: #ffffffa6;
                    width: 40%;
                }
            }

            >section {
                padding: 40px 50px;

                >div {
                    width: 49%;
                }
            }

            >footer {
                padding-inline: 50px;
            }
        }
    }
}