//  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (max-width:576px) {

    /* -------------------------------main--------------------------- */
    main {
        width: 95%;
        height: 95%;
    }

    /* -------------------------------content--------------------------- */
    #content {

        /* ---------------home---------------- */
        #home {
            >header {
                min-height: 300px;

                >figure {
                    width: 85px;
                    height: 85px;

                    >img {
                        width: 45px;
                    }
                }

                >h2 {
                    font-size: 26px;
                }

                >p {
                    color: #ffffffa6;
                    width: 90%;
                }
            }

            >section {
                padding: 40px 20px;

                // >div {
                //      width: 49%;
                // }
            }

            >footer {
                padding-inline: 20px;
            }
        }

        /* ---------------about---------------- */
        #about {
            >header {
                padding: 24px 24px 60px 24px;

                >div {
                    &:nth-of-type(1) {

                        >h3 {
                            font-size: 24px;
                        }

                        >P {
                            width: 90%;
                        }
                    }

                    &:nth-of-type(2) {
                        margin-top: 80px;

                        >figure {
                            width: 80px;
                            height: 80px;

                            >img {
                                width: 45px;
                            }

                            &:nth-of-type(1) {
                                left: 130px;
                            }

                            &:nth-of-type(2) {
                                left: 65px;
                            }

                            &:nth-of-type(3) {
                                left: 0%;
                            }
                        }
                    }
                }
            }

            #about-content {
                >div {
                    padding: 32px 25px 40px 25px;
                    display: flex;

                    >h4 {
                        font-size: 20px;
                        margin-bottom: 20px;
                    }


                    &:nth-of-type(1) {

                        >p {
                            width: 90%;
                        }
                    }

                    &:nth-of-type(3) {
                        >div {
                            display: flex;
                            justify-content: start;

                            >figure {
                                width: 160px;
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }

            >footer {
                padding-inline: 25px;

                >p,
                a {
                    font-size: 10px;
                }
            }
        }
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:576px) {

    /* -------------------------------main--------------------------- */
    main {
        width: 95%;
    }

    /* -------------------------------content--------------------------- */
    #content {

        /* ---------------home---------------- */
        #home {
            >header {
                min-height: 300px;

                >figure {
                    width: 85px;
                    height: 85px;

                    >img {
                        width: 45px;
                    }
                }

                >h2 {
                    font-size: 26px;
                }

                >p {
                    color: #ffffffa6;
                    width: 90%;
                }
            }

            >section {
                padding: 40px 20px;

                // >div {
                //      width: 49%;
                // }
            }

            >footer {
                padding-inline: 20px;
            }
        }

        /* ---------------about---------------- */
        #about {
            >header {
                padding: 24px 24px 60px 24px;

                >div {
                    &:nth-of-type(1) {

                        >h3 {
                            font-size: 24px;
                        }

                        >P {
                            width: 90%;
                        }
                    }

                    &:nth-of-type(2) {
                        margin-top: 80px;

                        >figure {
                            width: 80px;
                            height: 80px;

                            >img {
                                width: 45px;
                            }

                            &:nth-of-type(1) {
                                left: 130px;
                            }

                            &:nth-of-type(2) {
                                left: 65px;
                            }

                            &:nth-of-type(3) {
                                left: 0%;
                            }
                        }
                    }
                }
            }

            #about-content {
                >div {
                    padding: 32px 25px 40px 25px;
                    display: flex;

                    >h4 {
                        font-size: 20px;
                        margin-bottom: 20px;
                    }


                    &:nth-of-type(1) {

                        >p {
                            width: 90%;
                        }
                    }

                    &:nth-of-type(3) {
                        >div {
                            display: flex;
                            justify-content: start;

                            >figure {
                                width: 160px;
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }

            >footer {
                padding-inline: 25px;

                >p,
                a {
                    font-size: 10px;
                }
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:768px) {

    /* -------------------------------main--------------------------- */
    main {
        width: 95%;
    }

    /* -------------------------------content--------------------------- */
    #content {

        /* ---------------home---------------- */
        #home {
            >header {
                min-height: 300px;

                >figure {
                    width: 85px;
                    height: 85px;

                    >img {
                        width: 45px;
                    }
                }

                >h2 {
                    font-size: 26px;
                }

                >p {
                    color: #ffffffa6;
                    width: 90%;
                }
            }

            >section {
                padding: 40px 20px;

                // >div {
                //      width: 49%;
                // }
            }

            >footer {
                padding-inline: 20px;
            }
        }

        /* ---------------about---------------- */
        #about {
            >header {
                padding: 24px 24px 60px 24px;

                >div {
                    &:nth-of-type(1) {

                        >h3 {
                            font-size: 24px;
                        }

                        >P {
                            width: 60%;
                        }
                    }

                    &:nth-of-type(2) {
                        margin-top: 80px;

                        >figure {
                            width: 80px;
                            height: 80px;

                            >img {
                                width: 45px;
                            }

                            &:nth-of-type(1) {
                                left: 130px;
                            }

                            &:nth-of-type(2) {
                                left: 65px;
                            }

                            &:nth-of-type(3) {
                                left: 0%;
                            }
                        }
                    }
                }
            }

            #about-content {
                >div {
                    padding: 32px 25px 40px 25px;
                    display: flex;

                    >h4 {
                        font-size: 24px;
                        margin-bottom: 20px;
                    }


                    &:nth-of-type(1) {

                        >p {
                            width: 70%;
                        }
                    }

                    &:nth-of-type(3) {
                        >div {
                            display: flex;
                            justify-content: start;

                            >figure {
                                width: 160px;
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }

            >footer {
                padding-inline: 25px;

                >p,
                a {
                    font-size: 12px;
                }
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:992px) {

    /* -------------------------------main--------------------------- */
    main {
        width: 95%;
    }

    /* -------------------------------content--------------------------- */
    #content {

        /* ---------------home---------------- */
        #home {
            >header {
                min-height: 300px;

                >figure {
                    width: 100px;
                    height: 100px;

                    >img {
                        width: 55px;
                    }
                }

                >h2 {
                    font-size: 26px;
                }

                >p {
                    color: #ffffffa6;
                    width: 90%;
                }
            }

            >section {
                padding: 40px 20px;

                // >div {
                //      width: 49%;
                // }
            }

            >footer {
                padding-inline: 20px;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1200px) {

    /* -------------------------------main--------------------------- */
    main {
        width: 90%;
    }

    /* -------------------------------content--------------------------- */
    #content {

        /* ---------------home---------------- */
        #home {
            >header {
                min-height: 350px;

                >figure {
                    width: 130px;
                    height: 130px;

                    >img {
                        width: 70px;
                    }
                }

                >h2 {
                    font-size: 26px;
                }

                >p {
                    color: #ffffffa6;
                    width: 50%;
                }
            }

            >section {
                padding: 40px 50px;

                >div {
                    width: 49%;
                }
            }

            >footer {
                padding-inline: 50px;
            }
        }

        /* ---------------about---------------- */
        #about {
            >header {
                padding: 55px 48px 30px 48px;

                >div {
                    &:nth-of-type(1) {

                        >h3 {
                            font-size: 32px;
                        }

                        >P {
                            width: 70%;
                        }
                    }

                    &:nth-of-type(2) {
                        margin-top: 0px;

                        >figure {
                            width: 130px;
                            height: 130px;

                            >img {
                                width: 75px;
                            }

                            &:nth-of-type(1) {
                                left: auto;
                                right: 43%;
                            }

                            &:nth-of-type(2) {
                                left: auto;
                                right: 21%;
                            }

                            &:nth-of-type(3) {
                                left: auto;
                                right: 0%;
                            }
                        }
                    }
                }
            }

            #about-content {
                >div {
                    padding: 40px 48px 48px 48px;
                    display: flex;

                    >h4 {
                        font-size: 24px;
                        margin-bottom: 0px;
                    }


                    &:nth-of-type(1) {

                        >p {
                            width: 50%;
                        }
                    }

                    &:nth-of-type(3) {
                        >div {
                            display: flex;
                            justify-content: space-between;

                            >figure {
                                width: 190px;
                                margin-right: 0px;
                            }
                        }
                    }
                }
            }

            >footer {
                padding-inline: 50px;

                >p,
                a {
                    font-size: 14px;
                }
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1400px) {

    /* -------------------------------main--------------------------- */
    main {
        width: 85%;
    }

    /* -------------------------------content--------------------------- */
    #content {

        /* ---------------home---------------- */
        #home {
            >header {
                min-height: 350px;

                >figure {
                    width: 130px;
                    height: 130px;

                    >img {
                        width: 70px;
                    }
                }

                >h2 {
                    font-size: 32px;
                }

                >p {
                    color: #ffffffa6;
                    width: 40%;
                }
            }

            >section {
                padding: 40px 50px;

                >div {
                    width: 49%;
                }
            }

            >footer {
                padding-inline: 50px;
            }
        }

        /* ---------------about---------------- */
        #about {
            #about-content {
                >div {
                    &:nth-of-type(3) {
                        >div {
                            >figure {
                                width: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1600px) {

    /* -------------------------------main--------------------------- */
    main {
        width: 75%;
    }

    /* -------------------------------content--------------------------- */
    #content {

        /* ---------------home---------------- */
        #home {
            >header {
                min-height: 350px;

                >figure {
                    width: 130px;
                    height: 130px;

                    >img {
                        width: 70px;
                    }
                }

                >h2 {
                    font-size: 32px;
                }

                >p {
                    color: #ffffffa6;
                    width: 40%;
                }
            }

            >section {
                padding: 40px 50px;

                >div {
                    width: 49%;
                }
            }

            >footer {
                padding-inline: 50px;
            }
        }
    }
}