/* ------------------------------------------------------------------------------------------------ */
@keyframes puls {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animation1 {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}
/* ------------------------------------------------------------------------------------------------ */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

#backs {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
#backs > div {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.3s ease;
  opacity: 0;
}
#backs #_homeBack {
  background: #FDCE50;
  background: linear-gradient(115deg, rgb(253, 206, 80) 20%, rgb(247, 96, 32) 70%);
}
#backs #_aboutBack {
  background: #FADF54;
  background: linear-gradient(115deg, rgb(250, 223, 84) 20%, rgb(254, 194, 39) 70%);
}
#backs #_portfolioBack {
  background: #FA6322;
  background: linear-gradient(115deg, rgb(250, 99, 34) 20%, rgb(190, 49, 31) 70%);
}
#backs #_servicesBack {
  background: #30EC70;
  background: linear-gradient(115deg, rgb(48, 236, 112) 20%, rgb(16, 148, 62) 70%);
}
#backs #_contactBack {
  background: #20D1F8;
  background: linear-gradient(115deg, rgb(32, 209, 248) 20%, rgb(4, 164, 203) 70%);
}

/* -------------------------------main--------------------------- */
main {
  width: 75%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.8509803922);
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  display: flex;
  position: relative;
  /* -------------------------------header--------------------------- */
}
main > span {
  width: 40px !important;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.0509803922);
  border-radius: 12px;
  position: fixed;
  top: 95px;
  right: 40px;
  overflow: hidden;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.1019607843);
  z-index: 100;
  cursor: pointer;
}
main > span > figure > img:nth-of-type(1) {
  width: 20px;
}
main > span > figure > img:nth-of-type(2) {
  width: 25px;
  display: none;
}
main > header {
  width: 100%;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
}
main > header > h1 {
  font-family: "Inter-SemiBold";
  color: #AAA8A2;
  font-size: 14px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
main > header > span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
main > header > span > span {
  width: 12px;
  height: 12px;
  background-color: #3F3C2E;
  border-radius: 50%;
  margin-right: 8px;
}

/* -------------------------------side bar--------------------------- */
#sideBar {
  height: calc(100% - 48px);
  border-right: 1px solid rgba(255, 255, 255, 0.0745098039);
  background-color: rgba(0, 0, 0, 0.2);
}
#sideBar #sideBar-mehrab {
  width: 100%;
  height: 24%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
  padding-left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#sideBar #sideBar-mehrab > figure {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.0745098039);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s linear;
  position: relative;
  margin-bottom: 20px;
}
#sideBar #sideBar-mehrab > figure > img {
  width: 35px;
  transition: 0.2s linear;
}
#sideBar #sideBar-mehrab > figure::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: #2EF171;
  right: 1px;
  bottom: 4px;
  animation: puls 0.7s linear alternate infinite;
}
#sideBar #sideBar-mehrab > figure:hover {
  background-color: rgba(255, 255, 255, 0.1450980392);
}
#sideBar #sideBar-mehrab > figure:hover > img {
  transform: rotate(-10deg) scale(1.1);
}
#sideBar #sideBar-mehrab > h2 {
  text-transform: capitalize;
  font-family: "Inter-Medium";
  font-size: 14px;
  color: white;
  margin-bottom: 5px;
}
#sideBar #sideBar-mehrab > h4 {
  color: #AAA8A2;
  font-size: 14px;
  font-family: "Inter-Medium";
  text-transform: capitalize;
}
#sideBar #sideBar-navBar {
  width: 100%;
  height: 62%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
}
#sideBar #sideBar-navBar > ul {
  width: 100%;
  height: 100%;
  padding: 20px 15px;
}
#sideBar #sideBar-navBar > ul > li {
  text-transform: capitalize;
  color: white;
  font-size: 14px;
  font-family: "Inter-Medium";
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  display: flex;
  align-items: center;
  transition: 0.2s ease-in-out;
  position: relative;
}
#sideBar #sideBar-navBar > ul > li > span {
  content: "6";
  height: 21px;
  width: 19px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1921568627);
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
#sideBar #sideBar-navBar > ul > li::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #2EF171;
  border-radius: 50%;
  display: flex;
  transform: scale(0);
  transition: 0.2s linear;
}
#sideBar #sideBar-navBar > ul > li:hover {
  background-color: rgba(255, 255, 255, 0.1019607843);
}
#sideBar #sideBar-navBar > ul > li:hover::before {
  margin-right: 10px;
  transform: scale(1);
}
#sideBar #sideBar-navBar > ul > li:nth-of-type(1)::before {
  background-color: #FFC427;
}
#sideBar #sideBar-navBar > ul > li:nth-of-type(2)::before {
  background-color: #FF6320;
}
#sideBar #sideBar-navBar > ul > li:nth-of-type(3)::before {
  background-color: #2EF171;
}
#sideBar #sideBar-navBar > ul > li:nth-of-type(4)::before {
  background-color: #20D7FF;
}
#sideBar #sideBar-btn {
  width: 100%;
  height: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sideBar #sideBar-btn > a {
  width: 80%;
  height: 40px;
  padding: 12px 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #AAA8A2;
  font-family: "Inter-Medium";
  text-transform: capitalize;
  transform-origin: center;
  transition: 0.2s ease-in-out;
}
#sideBar #sideBar-btn > a > img {
  width: 20px;
  margin-left: 10px;
}
#sideBar #sideBar-btn > a:hover {
  width: 83%;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

/* -------------------------------content--------------------------- */
#content {
  height: calc(100% - 48px);
  position: relative;
  /* ---------------home---------------- */
  /* ---------------about---------------- */
  /* ---------------portfolio---------------- */
  /* ---------------services---------------- */
  /* ---------------contact---------------- */
}
#content > section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  pointer-events: none;
  inset: 0;
  overflow-y: scroll;
  scrollbar-width: none;
}
#content #home > header {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
  min-height: 350px;
  background-color: rgba(255, 99, 32, 0.031372549);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#content #home > header > img {
  width: 70px;
  position: absolute;
}
#content #home > header > img:nth-of-type(1) {
  top: 10%;
  left: 20%;
  animation: animation1 2s ease-in-out alternate infinite;
}
#content #home > header > img:nth-of-type(2) {
  right: 10%;
  top: 40%;
  animation: animation1 4s ease-in-out alternate infinite;
}
#content #home > header > img:nth-of-type(3) {
  top: 60%;
  left: 10%;
  animation: animation1 3s ease-in-out alternate infinite;
}
#content #home > header > figure {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.0509803922);
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.0745098039);
}
#content #home > header > figure > img {
  width: 70px;
}
#content #home > header > h2 {
  color: white;
  font-size: 32px;
  font-family: "Inter-Medium";
  text-align: center;
  text-transform: capitalize;
  margin-block: 15px;
}
#content #home > header > p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6509803922);
  width: 40%;
  font-family: "Inter-Regular";
  text-align: center;
  line-height: 16px;
}
#content #home > section {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
}
#content #home > section > div {
  height: 155px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  padding: 24px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  margin-bottom: 2%;
}
#content #home > section > div::before {
  content: "";
  width: 240px;
  height: 65px;
  position: absolute;
  border-radius: 50%;
  top: -32px;
  left: calc(50% - 120px);
  opacity: 0.2;
}
#content #home > section > div > span {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.1;
  position: absolute;
  inset: 0;
  transition: 0.4s ease-in-out;
}
#content #home > section > div > p {
  padding: 8px 10px;
  border-radius: 1000px;
  display: inline;
  font-size: 12px;
  font-family: "Inter-Regular";
  text-transform: capitalize;
}
#content #home > section > div > figure {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -25px;
  right: -20px;
}
#content #home > section > div > figure > img {
  width: 60px;
}
#content #home > section > div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
}
#content #home > section > div:hover {
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3019607843);
}
#content #home > section > div:hover > span {
  opacity: 0.2;
}
#content #home > section > div:nth-of-type(1) {
  border: 1px solid rgba(255, 197, 39, 0.192);
}
#content #home > section > div:nth-of-type(1)::before {
  background-color: rgb(255, 196, 39);
  filter: blur(50px);
}
#content #home > section > div:nth-of-type(1) > span {
  background-color: rgb(255, 196, 39);
}
#content #home > section > div:nth-of-type(1) > p {
  color: #F3BA25;
  border: 1px solid rgba(255, 196, 39, 0.2);
  background-color: rgba(255, 196, 39, 0.0509803922);
}
#content #home > section > div:nth-of-type(1) > h5 {
  color: #F3BA25;
  font-family: "Inter-Medium";
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 20px;
}
#content #home > section > div:nth-of-type(1) > figure {
  background-color: rgba(255, 197, 39, 0.062745098);
  border: 1px solid rgba(255, 197, 39, 0.062745098);
}
#content #home > section > div:nth-of-type(1)::after {
  background-color: #F3BA25;
}
#content #home > section > div:nth-of-type(2) {
  border: 1px solid rgba(255, 99, 32, 0.1921568627);
}
#content #home > section > div:nth-of-type(2)::before {
  background-color: #ff6320;
  filter: blur(50px);
}
#content #home > section > div:nth-of-type(2) > span {
  background-color: #ff6320;
}
#content #home > section > div:nth-of-type(2) > p {
  color: #FF6320;
  border: 1px solid rgba(255, 99, 32, 0.2);
  background-color: rgba(255, 99, 32, 0.0745098039);
}
#content #home > section > div:nth-of-type(2) > h5 {
  color: #FF6320;
  font-family: "Inter-Medium";
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 20px;
}
#content #home > section > div:nth-of-type(2) > figure {
  background-color: rgba(255, 99, 32, 0.062745098);
  border: 1px solid rgba(255, 99, 32, 0.062745098);
}
#content #home > section > div:nth-of-type(2)::after {
  background-color: #ff6320;
}
#content #home > section > div:nth-of-type(3) {
  border: 1px solid rgba(46, 241, 113, 0.1921568627);
}
#content #home > section > div:nth-of-type(3)::before {
  background-color: #2ef171;
  filter: blur(50px);
}
#content #home > section > div:nth-of-type(3) > span {
  background-color: #2ef171;
}
#content #home > section > div:nth-of-type(3) > p {
  color: #2ef171;
  border: 1px solid rgba(46, 241, 113, 0.2);
  background-color: rgba(46, 241, 113, 0.0745098039);
}
#content #home > section > div:nth-of-type(3) > h5 {
  color: #2ef171;
  font-family: "Inter-Medium";
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 20px;
}
#content #home > section > div:nth-of-type(3) > figure {
  background-color: rgba(46, 241, 113, 0.062745098);
  border: 1px solid rgba(46, 241, 113, 0.062745098);
}
#content #home > section > div:nth-of-type(3)::after {
  background-color: #2ef171;
}
#content #home > section > div:nth-of-type(4) {
  border: 1px solid rgba(32, 215, 255, 0.1921568627);
}
#content #home > section > div:nth-of-type(4)::before {
  background-color: #20d7ff;
  filter: blur(50px);
}
#content #home > section > div:nth-of-type(4) > span {
  background-color: #20d7ff;
}
#content #home > section > div:nth-of-type(4) > p {
  color: #20d7ff;
  border: 1px solid rgba(32, 215, 255, 0.2);
  background-color: rgba(32, 215, 255, 0.0745098039);
}
#content #home > section > div:nth-of-type(4) > h5 {
  color: #20d7ff;
  font-family: "Inter-Medium";
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 20px;
}
#content #home > section > div:nth-of-type(4) > figure {
  background-color: rgba(32, 215, 255, 0.062745098);
  border: 1px solid rgba(32, 215, 255, 0.062745098);
}
#content #home > section > div:nth-of-type(4)::after {
  background-color: #20d7ff;
}
#content #home > footer {
  width: 100%;
  height: 50px;
  padding-inline: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#content #home > footer > p,
#content #home > footer a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6509803922);
  font-family: "Inter-Regular";
  text-transform: capitalize;
}
#content #home > footer > a {
  transition: 0.2s ease-in-out;
}
#content #home > footer > a:hover {
  color: white;
}
#content #about > header {
  width: 100%;
  height: auto;
  background-color: rgba(255, 196, 39, 0.031372549);
  padding: 55px 48px 30px 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
}
#content #about > header > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#content #about > header > div:nth-of-type(1) > span {
  padding: 6px 10px;
  border-radius: 1000px;
  display: inline;
  font-size: 12px;
  font-family: "Inter-Medium";
  text-transform: capitalize;
  color: #ffc427;
  border: 1px solid rgba(255, 196, 39, 0.2);
  background-color: rgba(255, 196, 39, 0.0509803922);
}
#content #about > header > div:nth-of-type(1) > h3 {
  color: white;
  font-size: 32px;
  font-family: "Inter-Medium";
  text-transform: capitalize;
  margin-block: 15px;
}
#content #about > header > div:nth-of-type(1) > P {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6509803922);
  width: 70%;
  font-family: "Inter-Regular";
  line-height: 16px;
}
#content #about > header > div:nth-of-type(2) {
  position: relative;
}
#content #about > header > div:nth-of-type(2) > figure {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  pointer-events: none;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
#content #about > header > div:nth-of-type(2) > figure > img {
  width: 75px;
}
#content #about > header > div:nth-of-type(2) > figure:nth-of-type(1) {
  background-color: #FFC427;
  right: 43%;
  z-index: 3;
}
#content #about > header > div:nth-of-type(2) > figure:nth-of-type(2) {
  background-color: rgba(255, 197, 39, 0.4509803922);
  right: 21%;
  z-index: 2;
}
#content #about > header > div:nth-of-type(2) > figure:nth-of-type(3) {
  background-color: rgba(255, 197, 39, 0.1529411765);
  right: 0%;
  z-index: 0;
}
#content #about #about-content {
  width: 100%;
}
#content #about #about-content > div {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
  padding: 40px 48px 48px 48px;
  display: flex;
}
#content #about #about-content > div > h4 {
  color: white;
  font-size: 24px;
  font-family: "Inter-Medium";
  text-transform: capitalize;
}
#content #about #about-content > div:nth-of-type(1) > p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6509803922);
  width: 50%;
  font-family: "Inter-Regular";
  line-height: 16px;
}
#content #about #about-content > div:nth-of-type(2) > div {
  flex-wrap: wrap;
}
#content #about #about-content > div:nth-of-type(2) > div > span {
  padding: 6px 10px;
  border-radius: 1000px;
  display: inline-block;
  font-size: 12px;
  font-family: "Inter-Medium";
  text-transform: capitalize;
  color: #ffc427;
  border: 1px solid rgba(255, 196, 39, 0.2);
  background-color: rgba(255, 196, 39, 0.0509803922);
  margin-bottom: 5px;
  margin-right: 2px;
}
#content #about #about-content > div:nth-of-type(3) > div {
  display: flex;
  justify-content: space-between;
}
#content #about #about-content > div:nth-of-type(3) > div > figure {
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
#content #about > footer {
  width: 100%;
  height: 50px;
  padding-inline: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#content #about > footer > p,
#content #about > footer a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6509803922);
  font-family: "Inter-Regular";
  text-transform: capitalize;
}
#content #about > footer > a {
  transition: 0.2s ease-in-out;
}
#content #about > footer > a:hover {
  color: white;
}
#content #portfolio > header {
  width: 100%;
  height: auto;
  background-color: rgba(255, 99, 32, 0.031372549);
  padding: 55px 48px 30px 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
}
#content #portfolio > header > span {
  color: #ff6320;
  border: 1px solid rgba(255, 99, 32, 0.2);
  background-color: rgba(255, 99, 32, 0.0509803922);
  padding: 6px 10px;
  border-radius: 1000px;
  display: inline;
  font-size: 12px;
  font-family: "Inter-Medium";
  text-transform: capitalize;
}
#content #portfolio > header > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
#content #portfolio > header > div > h3 {
  color: white;
  font-size: 32px;
  font-family: "Inter-Medium";
  text-transform: capitalize;
  margin-block: 15px;
}
#content #portfolio > header > div > P {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6509803922);
  width: 30%;
  font-family: "Inter-Regular";
  line-height: 16px;
}
#content #portfolio #portfolio-content {
  width: 100%;
  padding: 56px 25px 28px 25px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
}
#content #portfolio #portfolio-content > div {
  width: 320px;
  height: 435px;
  margin-bottom: 15px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
#content #portfolio #portfolio-content > div > span {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s linear;
}
#content #portfolio #portfolio-content > div > span:nth-of-type(1) {
  z-index: 1;
  background-color: rgba(255, 179, 193, 0.753);
  opacity: 0;
}
#content #portfolio #portfolio-content > div > span:nth-of-type(2) {
  z-index: 2;
  width: 200px;
  top: 102%;
  height: 48px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.35;
}
#content #portfolio #portfolio-content > div > div {
  width: 100%;
  border-radius: 12px;
  height: 97%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  transition: 0.2s ease-in-out;
  transform-origin: center;
}
#content #portfolio #portfolio-content > div > div > figure {
  border-radius: inherit;
  width: 100%;
  height: 90%;
  overflow: hidden;
}
#content #portfolio #portfolio-content > div > div > figure > a > img {
  width: 100%;
}
#content #portfolio #portfolio-content > div > div > div {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
}
#content #portfolio #portfolio-content > div > div > div > h6 {
  color: white;
  font-family: "Inter-Medium";
  font-size: 13px;
  text-transform: capitalize;
}
#content #portfolio #portfolio-content > div > div > div > p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6509803922);
  font-family: "Inter-Regular";
  text-transform: capitalize;
}
#content #portfolio #portfolio-content > div:hover > span:nth-of-type(1) {
  opacity: 0.1;
}
#content #portfolio #portfolio-content > div:hover > span:nth-of-type(2) {
  background-color: rgb(255, 179, 193);
  filter: blur(50px);
}
#content #portfolio #portfolio-content > div:hover > div {
  transform: scale(0.97);
}
#content #portfolio > footer {
  width: 100%;
  height: 50px;
  padding-inline: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#content #portfolio > footer > p,
#content #portfolio > footer a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6509803922);
  font-family: "Inter-Regular";
  text-transform: capitalize;
}
#content #portfolio > footer > a {
  transition: 0.2s ease-in-out;
}
#content #portfolio > footer > a:hover {
  color: white;
}
#content #services > header {
  width: 100%;
  height: auto;
  background-color: rgba(46, 241, 113, 0.031372549);
  padding: 55px 48px 30px 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
}
#content #services > header > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#content #services > header > div:nth-of-type(1) > span {
  padding: 6px 10px;
  border-radius: 1000px;
  display: inline;
  font-size: 12px;
  font-family: "Inter-Medium";
  text-transform: capitalize;
  color: #2ef171;
  border: 1px solid rgba(46, 241, 113, 0.2);
  background-color: rgba(46, 241, 113, 0.0509803922);
}
#content #services > header > div:nth-of-type(1) > h3 {
  color: white;
  font-size: 32px;
  font-family: "Inter-Medium";
  text-transform: capitalize;
  margin-block: 15px;
}
#content #services > header > div:nth-of-type(1) > P {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6509803922);
  width: 70%;
  font-family: "Inter-Regular";
  line-height: 16px;
}
#content #services > header > div:nth-of-type(2) {
  position: relative;
}
#content #services > header > div:nth-of-type(2) > figure {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  pointer-events: none;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
#content #services > header > div:nth-of-type(2) > figure > img {
  width: 75px;
}
#content #services > header > div:nth-of-type(2) > figure:nth-of-type(1) {
  background-color: #2ef171;
  right: 43%;
  z-index: 3;
}
#content #services > header > div:nth-of-type(2) > figure:nth-of-type(2) {
  background-color: rgba(46, 241, 113, 0.4509803922);
  right: 21%;
  z-index: 2;
}
#content #services > header > div:nth-of-type(2) > figure:nth-of-type(3) {
  background-color: #0F3C19;
  right: 0%;
  z-index: 1;
}
#content #services #services-content {
  width: 100%;
}
#content #services #services-content > section:nth-of-type(1) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 48px 28px 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
}
#content #services #services-content > section:nth-of-type(1) > div {
  width: 485px;
  height: 380px;
  margin-bottom: 15px;
  border-radius: 12px;
  background-color: rgba(46, 241, 113, 0.0509803922);
  border: 1px solid rgba(46, 241, 113, 0.0509803922);
  position: relative;
  overflow: hidden;
}
#content #services #services-content > section:nth-of-type(1) > div > span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#content #services #services-content > section:nth-of-type(1) > div > span::before {
  content: "";
  width: 240px;
  position: absolute;
  height: 64px;
  overflow: hidden;
  top: -32px;
  left: calc(50% - 120px);
  background-color: #2ef171;
  filter: blur(50px);
  border-radius: 50%;
  opacity: 0.2;
}
#content #services #services-content > section:nth-of-type(1) > div > span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #2ef171;
}
#content #services #services-content > section:nth-of-type(1) > div > div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 24px 24px 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#content #services #services-content > section:nth-of-type(1) > div > div > figure {
  width: 68px;
  height: 68px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 241, 113, 0.0509803922);
  border: 1px solid rgba(46, 241, 113, 0.0509803922);
}
#content #services #services-content > section:nth-of-type(1) > div > div > figure > img {
  width: 30px;
}
#content #services #services-content > section:nth-of-type(1) > div > div > div:nth-of-type(1) {
  margin-bottom: 55px;
}
#content #services #services-content > section:nth-of-type(1) > div > div > div:nth-of-type(1) > h2 {
  color: #2ef171;
  text-transform: capitalize;
  font-family: "Inter-Medium";
  font-size: 24px;
  margin-bottom: 10px;
}
#content #services #services-content > section:nth-of-type(1) > div > div > div:nth-of-type(1) > p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6509803922);
  width: 80%;
  font-family: "Inter-Regular";
  line-height: 16px;
}
#content #services #services-content > section:nth-of-type(1) > div > div > div:nth-of-type(2) {
  flex-wrap: wrap;
  width: 85%;
}
#content #services #services-content > section:nth-of-type(1) > div > div > div:nth-of-type(2) > span {
  padding: 6px 10px;
  border-radius: 1000px;
  display: inline-block;
  font-size: 12px;
  font-family: "Inter-Medium";
  text-transform: capitalize;
  color: #2ef171;
  border: 1px solid rgba(46, 241, 113, 0.2);
  background-color: rgba(46, 241, 113, 0.0509803922);
  margin-bottom: 5px;
  margin-right: 2px;
}
#content #services #services-content > section:nth-of-type(2) {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
  padding: 40px 48px 48px 48px;
}
#content #services #services-content > section:nth-of-type(2) > div {
  width: 100%;
}
#content #services #services-content > section:nth-of-type(2) > div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
#content #services #services-content > section:nth-of-type(2) > div:nth-of-type(1) > h3 {
  color: white;
  font-size: 24px;
  font-family: "Inter-Medium";
  text-transform: capitalize;
}
#content #services #services-content > section:nth-of-type(2) > div:nth-of-type(1) > p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6509803922);
  width: 45%;
  font-family: "Inter-Regular";
  line-height: 16px;
}
#content #services #services-content > section:nth-of-type(2) > div:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#content #services #services-content > section:nth-of-type(2) > div:nth-of-type(2) > a {
  height: 152px;
  width: 235px;
  border-radius: 12px;
  border: 1px solid rgba(46, 241, 113, 0.0509803922);
  margin-bottom: 10px;
  background-color: rgba(46, 241, 113, 0.0509803922);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content #services #services-content > section:nth-of-type(2) > div:nth-of-type(2) > a::before {
  content: "";
  position: absolute;
  height: 48px;
  width: 160px;
  top: -24px;
  left: calc(50% - 80px);
  overflow: hidden;
  transition: 0.2s ease-in-out;
  opacity: 0;
}
#content #services #services-content > section:nth-of-type(2) > div:nth-of-type(2) > a > figure {
  transition: 0.3s ease-in-out;
}
#content #services #services-content > section:nth-of-type(2) > div:nth-of-type(2) > a > figure > img {
  width: 56px;
}
#content #services #services-content > section:nth-of-type(2) > div:nth-of-type(2) > a > span {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2ef171;
  font-family: "Inter-Regular";
  text-transform: capitalize;
  font-size: 12px;
  transition: 0.3s ease-in-out;
  opacity: 0;
  filter: blur(10px);
}
#content #services #services-content > section:nth-of-type(2) > div:nth-of-type(2) > a:hover {
  background-color: rgba(46, 241, 113, 0.1019607843);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
}
#content #services #services-content > section:nth-of-type(2) > div:nth-of-type(2) > a:hover::before {
  background-color: rgb(46, 241, 113);
  filter: blur(40px);
  border-radius: 50%;
  opacity: 0.35;
}
#content #services #services-content > section:nth-of-type(2) > div:nth-of-type(2) > a:hover > figure {
  transform: translateY(-25%);
}
#content #services #services-content > section:nth-of-type(2) > div:nth-of-type(2) > a:hover > span {
  top: 70%;
  opacity: 1;
  filter: blur(0px);
}
#content #services > footer {
  width: 100%;
  height: 50px;
  padding-inline: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#content #services > footer > p,
#content #services > footer a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6509803922);
  font-family: "Inter-Regular";
  text-transform: capitalize;
}
#content #services > footer > a {
  transition: 0.2s ease-in-out;
}
#content #services > footer > a:hover {
  color: white;
}
#content #contact > header {
  width: 100%;
  height: auto;
  background-color: rgba(32, 215, 255, 0.031372549);
  padding: 55px 48px 30px 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
}
#content #contact > header > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#content #contact > header > div:nth-of-type(1) > span {
  padding: 6px 10px;
  border-radius: 1000px;
  display: inline;
  font-size: 12px;
  font-family: "Inter-Medium";
  text-transform: capitalize;
  color: #20d7ff;
  border: 1px solid rgba(32, 215, 255, 0.2);
  background-color: rgba(32, 215, 255, 0.0509803922);
}
#content #contact > header > div:nth-of-type(1) > h3 {
  color: white;
  font-size: 32px;
  font-family: "Inter-Medium";
  text-transform: capitalize;
  margin-block: 15px;
}
#content #contact > header > div:nth-of-type(1) > P {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6509803922);
  width: 70%;
  font-family: "Inter-Regular";
  line-height: 16px;
}
#content #contact > header > div:nth-of-type(2) {
  position: relative;
}
#content #contact > header > div:nth-of-type(2) > figure {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  pointer-events: none;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
#content #contact > header > div:nth-of-type(2) > figure > img {
  width: 75px;
}
#content #contact > header > div:nth-of-type(2) > figure:nth-of-type(1) {
  background-color: #20d7ff;
  right: 43%;
  z-index: 3;
}
#content #contact > header > div:nth-of-type(2) > figure:nth-of-type(2) {
  background-color: rgba(32, 215, 255, 0.4509803922);
  right: 21%;
  z-index: 2;
}
#content #contact > header > div:nth-of-type(2) > figure:nth-of-type(3) {
  background-color: rgba(32, 215, 255, 0.0980392157);
  right: 0%;
  z-index: 1;
}
#content #contact #contact-content {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 48px 48px 48px;
}
#content #contact #contact-content > div {
  height: 500px;
  border-radius: 12px;
}
#content #contact #contact-content > div:nth-of-type(1) {
  padding: 32px 24px 40px 24px;
}
#content #contact #contact-content > div:nth-of-type(1) > h4 {
  color: white;
  text-transform: capitalize;
  font-family: "Inter-Medium";
  font-size: 24px;
}
#content #contact #contact-content > div:nth-of-type(1) > P {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6509803922);
  width: 80%;
  font-family: "Inter-Regular";
  line-height: 16px;
  margin-top: 10px;
}
#content #contact #contact-content > div:nth-of-type(1) > form {
  width: 100%;
  height: 200px;
  margin-top: 30px;
}
#content #contact #contact-content > div:nth-of-type(1) > form > label {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(32, 215, 255, 0.0509803922);
  border: 1px solid rgba(32, 215, 255, 0.0509803922);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}
#content #contact #contact-content > div:nth-of-type(1) > form > label:has(input:focus) {
  background-color: rgba(32, 214, 255, 0.1176470588);
  border: 1px solid rgba(32, 214, 255, 0.2745098039);
}
#content #contact #contact-content > div:nth-of-type(1) > form > label > input {
  border: none;
  outline: none;
  padding-inline: 20px;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Inter-Regular";
  border-radius: 10px;
}
#content #contact #contact-content > div:nth-of-type(1) > form > label > input::-moz-placeholder {
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Inter-Regular";
  color: rgba(255, 255, 255, 0.3019607843);
}
#content #contact #contact-content > div:nth-of-type(1) > form > label > input::placeholder {
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Inter-Regular";
  color: rgba(255, 255, 255, 0.3019607843);
}
#content #contact #contact-content > div:nth-of-type(1) > form > label > figure {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  display: none;
}
#content #contact #contact-content > div:nth-of-type(1) > form > label > figure > img {
  width: 30px;
}
#content #contact #contact-content > div:nth-of-type(1) > form > label:hover {
  background-color: rgba(32, 214, 255, 0.1176470588);
  border: 1px solid rgba(32, 214, 255, 0.2745098039);
}
#content #contact #contact-content > div:nth-of-type(1) > form > textarea {
  width: 100%;
  height: 150px;
  resize: none;
  border-radius: 10px;
  background-color: rgba(32, 215, 255, 0.0509803922);
  border: 1px solid rgba(32, 215, 255, 0.0509803922);
  color: white;
  font-family: "Inter-Regular";
  outline: none;
  padding: 10px 20px;
  transition: 0.3s ease;
  scrollbar-width: none;
}
#content #contact #contact-content > div:nth-of-type(1) > form > textarea::-moz-placeholder {
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Inter-Regular";
  color: rgba(255, 255, 255, 0.3019607843);
}
#content #contact #contact-content > div:nth-of-type(1) > form > textarea::placeholder {
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Inter-Regular";
  color: rgba(255, 255, 255, 0.3019607843);
}
#content #contact #contact-content > div:nth-of-type(1) > form > textarea:hover {
  background-color: rgba(32, 214, 255, 0.1176470588);
  border: 1px solid rgba(32, 214, 255, 0.2745098039);
}
#content #contact #contact-content > div:nth-of-type(1) > form > textarea:focus {
  background-color: rgba(32, 214, 255, 0.1176470588);
  border: 1px solid rgba(32, 214, 255, 0.2745098039);
}
#content #contact #contact-content > div:nth-of-type(1) > form > button {
  width: 100%;
  height: 47px;
  border-radius: 10px;
  background-color: rgba(32, 215, 255, 0.2);
  border: 1px solid rgba(32, 215, 255, 0.1019607843);
  color: #20d7ff;
  font-family: "Inter-Regular";
  font-size: 14px;
  transition: 0.3s ease;
}
#content #contact #contact-content > div:nth-of-type(1) > form > button:hover {
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  background-color: rgba(32, 215, 255, 0.3490196078);
}
#content #contact #contact-content > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#content #contact #contact-content > div:nth-of-type(2) > div {
  border-radius: 12px;
  padding: 25px 24px;
}
#content #contact #contact-content > div:nth-of-type(2) > div > h4 {
  color: white;
  text-transform: capitalize;
  font-family: "Inter-Medium";
  font-size: 20px;
}
#content #contact #contact-content > div:nth-of-type(2) > div:nth-of-type(1) {
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#content #contact #contact-content > div:nth-of-type(2) > div:nth-of-type(1) > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#content #contact #contact-content > div:nth-of-type(2) > div:nth-of-type(1) > div > a {
  height: 75px;
  width: 210px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgba(32, 215, 255, 0.0509803922);
  border: 1px solid rgba(32, 215, 255, 0.0509803922);
  position: relative;
  transition: 0.4s ease;
  overflow: hidden;
}
#content #contact #contact-content > div:nth-of-type(2) > div:nth-of-type(1) > div > a > figure > img {
  width: 28px;
}
#content #contact #contact-content > div:nth-of-type(2) > div:nth-of-type(1) > div > a::before {
  content: "";
  height: 48px;
  width: 120px;
  position: absolute;
  overflow: hidden;
  top: -24px;
  left: calc(50% - 60px);
  background-color: #20d7ff;
  filter: blur(40px);
  border-radius: 50%;
  opacity: 0;
  transition: 0.4s ease;
}
#content #contact #contact-content > div:nth-of-type(2) > div:nth-of-type(1) > div > a:hover {
  background-color: rgba(32, 215, 255, 0.1);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
}
#content #contact #contact-content > div:nth-of-type(2) > div:nth-of-type(1) > div > a:hover::before {
  opacity: 0.35;
}
#content #contact #contact-content > div:nth-of-type(2) > div:nth-of-type(2) {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#content #contact #contact-content > div:nth-of-type(2) > div:nth-of-type(2) > figure {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -25px;
  right: -20px;
  background-color: rgba(32, 215, 255, 0.0509803922);
  border: 1px solid rgba(32, 215, 255, 0.0509803922);
}
#content #contact #contact-content > div:nth-of-type(2) > div:nth-of-type(2) > figure > img {
  width: 60px;
}
#content #contact #contact-content > div:nth-of-type(2) > div:nth-of-type(2) > P {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6509803922);
  width: 55%;
  font-family: "Inter-Regular";
  line-height: 16px;
  margin-bottom: 30px;
}
#content #contact #contact-content > div:nth-of-type(2) > div:nth-of-type(2) > a {
  height: 40px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-family: "Inter-Regular";
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.65);
  text-transform: capitalize;
  font-size: 14px;
  transition: 0.4s ease;
}
#content #contact #contact-content > div:nth-of-type(2) > div:nth-of-type(2) > a:hover {
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}
#content #contact > footer {
  width: 100%;
  height: 50px;
  padding-inline: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#content #contact > footer > p,
#content #contact > footer a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6509803922);
  font-family: "Inter-Regular";
  text-transform: capitalize;
}
#content #contact > footer > a {
  transition: 0.2s ease-in-out;
}
#content #contact > footer > a:hover {
  color: white;
}

/* -------------------------------------------classes----------------------------------------------------- */
.homeBack {
  background: #FDCE50;
  background: linear-gradient(115deg, rgb(253, 206, 80) 25%, rgb(247, 96, 32) 70%);
}

.aboutBack {
  background: #FADF54;
  background: linear-gradient(115deg, rgb(250, 223, 84) 25%, rgb(254, 194, 39) 70%);
}

.portfolioBack {
  background: #FA6322;
  background: linear-gradient(115deg, rgb(250, 99, 34) 25, rgb(190, 49, 31) 70%);
}

.servicesBack {
  background: #30EC70;
  background: linear-gradient(115deg, rgb(48, 236, 112) 25%, rgb(16, 148, 62) 70%);
}

.contactBack {
  background: #20D1F8;
  background: linear-gradient(115deg, rgb(32, 209, 248) 25%, rgb(4, 164, 203) 70%);
}

.active {
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: auto !important;
}

.deactivate {
  opacity: 0;
  visibility: hidden;
}

.navActive::before {
  margin-right: 10px;
  transform: scale(1) !important;
}

.contact-background {
  background-color: rgba(32, 215, 255, 0.0509803922);
  border: 1px solid rgba(32, 215, 255, 0.0509803922);
  position: relative;
  overflow: hidden;
}
.contact-background::before {
  content: "";
  width: 240px;
  height: 64px;
  position: absolute;
  top: -32px;
  left: calc(50% - 120px);
  overflow: hidden;
  background-color: #20d7ff;
  filter: blur(50px);
  border-radius: 50%;
  opacity: 0.2;
}

.avtiveMobileSideBar {
  left: 0 !important;
}

.curtainOn {
  display: flex;
}

.curtainOff {
  display: none;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 70px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

.loaderOff {
  display: none !important;
}

.loaderOn {
  display: grid !important;
}

#curtain {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.582);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}

#formLoading {
  display: none;
  width: 50%;
  height: 400px;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 102;
  justify-content: center;
  align-items: center;
}
#formLoading #done,
#formLoading #error {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
}
#formLoading #done > figure,
#formLoading #error > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#formLoading #done > figure > img,
#formLoading #error > figure > img {
  margin-bottom: 30px;
  width: 70px;
}
#formLoading #done > figure > figcaption,
#formLoading #error > figure > figcaption {
  font-family: "Inter-Regular";
  color: #20d7ff;
  text-transform: capitalize;
  text-align: center;
}
#formLoading #error > figure > figcaption {
  color: #FF0000;
}

.inputError {
  border: 2px solid red !important;
}/*# sourceMappingURL=master.css.map */