/* ------------------------------------------------------------------------------------------------ */
@keyframes puls {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animation1 {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
/* ------------------------------------------------------------------------------------------------ */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#backs {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
#backs > div {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.3s ease;
  opacity: 0;
}
#backs #_homeBack {
  background: #FDCE50;
  background: linear-gradient(115deg, rgb(253, 206, 80) 20%, rgb(247, 96, 32) 70%);
}
#backs #_aboutBack {
  background: #FADF54;
  background: linear-gradient(115deg, rgb(250, 223, 84) 20%, rgb(254, 194, 39) 70%);
}
#backs #_portfolioBack {
  background: #FA6322;
  background: linear-gradient(115deg, rgb(250, 99, 34) 20%, rgb(190, 49, 31) 70%);
}
#backs #_servicesBack {
  background: #30EC70;
  background: linear-gradient(115deg, rgb(48, 236, 112) 20%, rgb(16, 148, 62) 70%);
}
#backs #_contactBack {
  background: #20D1F8;
  background: linear-gradient(115deg, rgb(32, 209, 248) 20%, rgb(4, 164, 203) 70%);
}

/* -------------------------------main--------------------------- */
main {
  width: 75%;
  height: 815px;
  background-color: rgba(0, 0, 0, 0.8509803922);
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  display: flex;
}

/* -------------------------------header--------------------------- */
header {
  width: 100%;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
}
header > h1 {
  font-family: "Inter-SemiBold";
  color: #AAA8A2;
  font-size: 14px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
header > span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
header > span > span {
  width: 12px;
  height: 12px;
  background-color: #3F3C2E;
  border-radius: 50%;
  margin-right: 8px;
}

/* -------------------------------side bar--------------------------- */
#sideBar {
  height: calc(100% - 48px);
  border-right: 1px solid rgba(255, 255, 255, 0.0745098039);
  background-color: rgba(0, 0, 0, 0.2);
}
#sideBar #sideBar-mehrab {
  width: 100%;
  height: 24%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
  padding-left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#sideBar #sideBar-mehrab > figure {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  border: 1px solid rgba(255, 255, 255, 0.0745098039);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s linear;
  position: relative;
  margin-bottom: 20px;
}
#sideBar #sideBar-mehrab > figure > img {
  width: 35px;
  transition: 0.2s linear;
}
#sideBar #sideBar-mehrab > figure::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: #2EF171;
  right: 1px;
  bottom: 4px;
  animation: puls 0.7s linear alternate infinite;
}
#sideBar #sideBar-mehrab > figure:hover {
  background-color: #44412d;
}
#sideBar #sideBar-mehrab > figure:hover > img {
  transform: rotate(-10deg) scale(1.1);
}
#sideBar #sideBar-mehrab > h2 {
  text-transform: capitalize;
  font-family: "Inter-Medium";
  font-size: 14px;
  color: white;
  margin-bottom: 5px;
}
#sideBar #sideBar-mehrab > h4 {
  color: #AAA8A2;
  font-size: 14px;
  font-family: "Inter-Medium";
  text-transform: capitalize;
}
#sideBar #sideBar-navBar {
  width: 100%;
  height: 62%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
}
#sideBar #sideBar-navBar > ul {
  width: 100%;
  height: 100%;
  padding: 20px 15px;
}
#sideBar #sideBar-navBar > ul > li {
  text-transform: capitalize;
  color: white;
  font-size: 14px;
  font-family: "Inter-Medium";
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  display: flex;
  align-items: center;
  transition: 0.2s ease-in-out;
  position: relative;
}
#sideBar #sideBar-navBar > ul > li > span {
  content: "6";
  height: 21px;
  width: 19px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1921568627);
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
#sideBar #sideBar-navBar > ul > li::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #2EF171;
  border-radius: 50%;
  display: flex;
  transform: scale(0);
  transition: 0.2s linear;
}
#sideBar #sideBar-navBar > ul > li:hover {
  background-color: rgba(255, 255, 255, 0.1019607843);
}
#sideBar #sideBar-navBar > ul > li:hover::before {
  margin-right: 10px;
  transform: scale(1);
}
#sideBar #sideBar-navBar > ul > li:nth-of-type(1)::before {
  background-color: #FFC427;
}
#sideBar #sideBar-navBar > ul > li:nth-of-type(2)::before {
  background-color: #FF6320;
}
#sideBar #sideBar-navBar > ul > li:nth-of-type(3)::before {
  background-color: #2EF171;
}
#sideBar #sideBar-navBar > ul > li:nth-of-type(4)::before {
  background-color: #20D7FF;
}
#sideBar #sideBar-btn {
  width: 100%;
  height: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sideBar #sideBar-btn > a {
  width: 80%;
  height: 40px;
  padding: 12px 16px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #AAA8A2;
  font-family: "Inter-Medium";
  text-transform: capitalize;
  transform-origin: center;
  transition: 0.2s ease-in-out;
}
#sideBar #sideBar-btn > a > img {
  width: 20px;
  margin-left: 10px;
}
#sideBar #sideBar-btn > a:hover {
  width: 83%;
}

/* -------------------------------conent--------------------------- */
#content {
  height: calc(100% - 48px);
  position: relative;
  /* ---------------home---------------- */
}
#content > section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  pointer-events: none;
  inset: 0;
  overflow-y: scroll;
  scrollbar-width: none;
}
#content #home > header {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
  min-height: 350px;
  background-color: rgba(255, 99, 32, 0.031372549);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#content #home > header > img {
  width: 70px;
  position: absolute;
}
#content #home > header > img:nth-of-type(1) {
  top: 10%;
  left: 20%;
  animation: animation1 2s ease-in-out alternate infinite;
}
#content #home > header > img:nth-of-type(2) {
  right: 10%;
  top: 40%;
  animation: animation1 4s ease-in-out alternate infinite;
}
#content #home > header > img:nth-of-type(3) {
  top: 60%;
  left: 10%;
  animation: animation1 3s ease-in-out alternate infinite;
}
#content #home > header > figure {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.0509803922);
  overflow: hidden;
  padding-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.0745098039);
  padding-left: 5px;
}
#content #home > header > figure > img {
  width: 140px;
}
#content #home > header > h2 {
  color: white;
  font-size: 32px;
  font-family: "Inter-Medium";
  text-align: center;
  text-transform: capitalize;
  margin-block: 15px;
}
#content #home > header > p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6509803922);
  width: 40%;
  font-family: "Inter-Regular";
  text-align: center;
}
#content #home > section {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0745098039);
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
}
#content #home > section > div {
  width: 49%;
  height: 155px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  padding: 24px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
#content #home > section > div::before {
  content: "";
  width: 240px;
  height: 65px;
  position: absolute;
  border-radius: 50%;
  top: -32px;
  left: calc(50% - 120px);
  opacity: 0.2;
}
#content #home > section > div > span {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.1;
  position: absolute;
  inset: 0;
  transition: 0.4s ease-in-out;
}
#content #home > section > div > p {
  padding: 8px 10px;
  border-radius: 1000px;
  display: inline;
  font-size: 12px;
  font-family: "Inter-Regular";
  text-transform: capitalize;
}
#content #home > section > div > figure {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -25px;
  right: -20px;
}
#content #home > section > div > figure > img {
  width: 60px;
}
#content #home > section > div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
}
#content #home > section > div:hover {
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3019607843);
}
#content #home > section > div:hover > span {
  opacity: 0.2;
}
#content #home > section > div:nth-of-type(1) {
  border: 1px solid rgba(255, 197, 39, 0.192);
  margin-bottom: 2%;
}
#content #home > section > div:nth-of-type(1)::before {
  background-color: rgb(255, 196, 39);
  filter: blur(50px);
}
#content #home > section > div:nth-of-type(1) > span {
  background-color: rgb(255, 196, 39);
}
#content #home > section > div:nth-of-type(1) > p {
  color: #F3BA25;
  border: 1px solid rgba(255, 196, 39, 0.2);
  background-color: rgba(255, 196, 39, 0.0509803922);
}
#content #home > section > div:nth-of-type(1) > h5 {
  color: #F3BA25;
  font-family: "Inter-Medium";
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 20px;
}
#content #home > section > div:nth-of-type(1) > figure {
  background-color: rgba(255, 197, 39, 0.062745098);
  border: 1px solid rgba(255, 197, 39, 0.062745098);
}
#content #home > section > div:nth-of-type(1)::after {
  background-color: #F3BA25;
}
#content #home > section > div:nth-of-type(2) {
  border: 1px solid rgba(255, 99, 32, 0.1921568627);
  margin-bottom: 2%;
}
#content #home > section > div:nth-of-type(2)::before {
  background-color: #ff6320;
  filter: blur(50px);
}
#content #home > section > div:nth-of-type(2) > span {
  background-color: #ff6320;
}
#content #home > section > div:nth-of-type(2) > p {
  color: #FF6320;
  border: 1px solid rgba(255, 99, 32, 0.2);
  background-color: rgba(255, 99, 32, 0.0745098039);
}
#content #home > section > div:nth-of-type(2) > h5 {
  color: #FF6320;
  font-family: "Inter-Medium";
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 20px;
}
#content #home > section > div:nth-of-type(2) > figure {
  background-color: rgba(255, 99, 32, 0.062745098);
  border: 1px solid rgba(255, 99, 32, 0.062745098);
}
#content #home > section > div:nth-of-type(2)::after {
  background-color: #ff6320;
}
#content #home > section > div:nth-of-type(3) {
  border: 1px solid rgba(46, 241, 113, 0.1921568627);
}
#content #home > section > div:nth-of-type(3)::before {
  background-color: #2ef171;
  filter: blur(50px);
}
#content #home > section > div:nth-of-type(3) > span {
  background-color: #2ef171;
}
#content #home > section > div:nth-of-type(3) > p {
  color: #2ef171;
  border: 1px solid rgba(46, 241, 113, 0.2);
  background-color: rgba(46, 241, 113, 0.0745098039);
}
#content #home > section > div:nth-of-type(3) > h5 {
  color: #2ef171;
  font-family: "Inter-Medium";
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 20px;
}
#content #home > section > div:nth-of-type(3) > figure {
  background-color: rgba(46, 241, 113, 0.062745098);
  border: 1px solid rgba(46, 241, 113, 0.062745098);
}
#content #home > section > div:nth-of-type(3)::after {
  background-color: #2ef171;
}
#content #home > section > div:nth-of-type(4) {
  border: 1px solid rgba(32, 215, 255, 0.1921568627);
}
#content #home > section > div:nth-of-type(4)::before {
  background-color: #20d7ff;
  filter: blur(50px);
}
#content #home > section > div:nth-of-type(4) > span {
  background-color: #20d7ff;
}
#content #home > section > div:nth-of-type(4) > p {
  color: #20d7ff;
  border: 1px solid rgba(32, 215, 255, 0.2);
  background-color: rgba(32, 215, 255, 0.0745098039);
}
#content #home > section > div:nth-of-type(4) > h5 {
  color: #20d7ff;
  font-family: "Inter-Medium";
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 20px;
}
#content #home > section > div:nth-of-type(4) > figure {
  background-color: rgba(32, 215, 255, 0.062745098);
  border: 1px solid rgba(32, 215, 255, 0.062745098);
}
#content #home > section > div:nth-of-type(4)::after {
  background-color: #20d7ff;
}
#content #home > footer {
  width: 100%;
  height: 50px;
  padding-inline: 50px;
  display: flex;
  align-items: center;
}
#content #home > footer > p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6509803922);
  font-family: "Inter-Regular";
}

/* -------------------------------------------classes----------------------------------------------------- */
.homeBack {
  background: #FDCE50;
  background: linear-gradient(115deg, rgb(253, 206, 80) 25%, rgb(247, 96, 32) 70%);
}

.aboutBack {
  background: #FADF54;
  background: linear-gradient(115deg, rgb(250, 223, 84) 25%, rgb(254, 194, 39) 70%);
}

.portfolioBack {
  background: #FA6322;
  background: linear-gradient(115deg, rgb(250, 99, 34) 25, rgb(190, 49, 31) 70%);
}

.servicesBack {
  background: #30EC70;
  background: linear-gradient(115deg, rgb(48, 236, 112) 25%, rgb(16, 148, 62) 70%);
}

.contactBack {
  background: #20D1F8;
  background: linear-gradient(115deg, rgb(32, 209, 248) 25%, rgb(4, 164, 203) 70%);
}

.active {
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: auto !important;
}

.deactivate {
  opacity: 0;
  visibility: hidden;
}

.navActive::before {
  margin-right: 10px;
  transform: scale(1) !important;
}/*# sourceMappingURL=master.css.map */